<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Codestrainingphase2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>45D3F0F71C526AFB00F95D0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45D3F1101C526AFB00F95D0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45D3F11B1C526AFB00F95D0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
